@page
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@model LoginModel
@{
    ViewData["Title"] = "Log in";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col s12 m6 offset-m3">
            <div class="card" style="margin-top: 50px; padding: 20px;">
                <div class="card-content">
                    <span class="card-title center-align" style="font-size: 24px; display: block; margin-bottom: 20px;">
                        <i class="material-icons medium">lock</i><br />Login
                    </span>
                    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <div asp-validation-summary="ModelOnly" class="validation-summary-errors red-text"></div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">email</i>
                                <input asp-for="Input.Email" id="Input_Email" class="validate" type="email" />
                                <label for="Input_Email">Email</label>
                                <span asp-validation-for="Input.Email" class="red-text helper-text"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">lock_outline</i>
                                <input asp-for="Input.Password" id="Input_Password" class="validate" type="password" />
                                <label for="Input_Password">Password</label>
                                <span asp-validation-for="Input.Password" class="red-text helper-text"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <label>
                                    <input asp-for="Input.RememberMe" type="checkbox" />
                                    <span>Remember me</span>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <button type="submit" class="btn waves-effect waves-light blue-grey darken-1 col s12">
                                    Login <i class="material-icons right">send</i>
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 center-align">
                                <a asp-page="./ForgotPassword" class="blue-grey-text">Forgot your password?</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col s12 m4 offset-m1">
            <h6>Login using External Providers.</h6>
            <div class="divider"></div>
            @{
                var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();

                if (loginProviders.Count == 0)
                {
                    <div>
                        <p>No external authentication services configured.</p>
                    </div>
                }
                else
                {
                    <form asp-area="Identity" asp-page="/Account/ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in loginProviders)
                                {
                                    <button type="submit" class="btn btn-default" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                        @provider.DisplayName
                                    </button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
